


<form action = "/lists" method = "post">
  <dl>
    <dt>
      <label for = "list_name">Enter the name for your new list:</label>
    </dt>
    <dd>
    	<input name="list_name" placeholder="list name" type="text" value=""
    </dd>
  </dl>
  <fieldset class="actions">
  	<input type = "submit" value="save">
  	<a href="/">Cancel</a>
  <fieldset>
</form>
